<fieldset>
    <legend>Parameters Method Simple Example</legend>
    @using (Html.BeginForm("Index", "ParametersMethod"))
    {

        <ol>
            <li>
                @Html.Label("FirstName")
                @Html.TextBox("txtfirstname")
            </li>
            <li>
                @Html.Label("LastName")
                @Html.TextBox("txtlastname")
            </li>
            <li>
                <h3> Your Name : @ViewBag.Name</h3>
            </li>
        </ol>
        <button>Submit</button>
    }
</fieldset>

